/aclocal.m4
/autom4te.cache/
/clearsyncd
/clearsync.spec
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/.deps/
/install-sh
/*.la
/.libs/
/libtool
/*.lo
/m4/
/Makefile
/Makefile.in
/missing
/*.o
/stamp-h1
